
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <button class= "btn btn primary"><%= f.submit %></button>
<% end %>

  <button class="btn btn-primary">
    <%= link_to "All lists", lists_index_path, style: "color: white"%>
  </button>
