<ul class= "list-group" style="width: 26rem">
  <% @movies.each do |movie|%>
  <li class= "list-group-item"><%= movie.title %>
  <button class="btn btn-primary">Add to list</button>
  </li>
  <% end %>
</ul>
